sudo: false
language: python
python:
  - "2.7"

# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install .
  - pip install coveralls

# coveralls
service_name: travis-pro
repo_token: wo4ddUq5vRYQGECA0MqAXnW9KOrBCNiuV

# command to run tests
script: nosetests

script:
  coverage run --source flipexception setup.py test
after_success:
  coveralls

